.navbar-brand{
    margin-left: auto;
    margin-right: auto;
}

.city-search{
    margin: 10px 10px 10px 10px
}

.low{
background-color: green;
}
.moderate{
    background-color: yellow;
    color: black;
}
.high{
background-color: orange;
}
.veryHigh{
background-color: red;
}
.extreme{
background-color: rgb(92, 75, 189);
}

